body {
  font-size: 1.5em;
  font-family: sans-serif;
  color: #bbb;
}

form {
  margin: 0;
  padding: 0;
}

input {
  font-size: 1em;
  color: black;
  width: 100%;
}

.query-form {
  padding: 5px 0;
  border-bottom: 1px dashed silver;
  height: 50px;
}

.query-form .query-input {
  margin-left: 60px;
  padding: 5px 0 0 0;
}

.query-form .query-image {
  height: 50px;
  max-height: 50px;
  max-width: 50px;
  float: left;
  margin: 0 5px;
}

.result {
  padding: 5px 0;
  border-bottom: 1px dashed silver;
}

.result .query {
  font-size: 0.6em;
  color: silver;
  margin-left: 60px;
}

.result .response {
  margin-left: 60px;
}

.result .response-image {
  height: 50px;
  max-height: 50px;
  max-width: 50px;
  float: left;
  margin: 0 5px;
}